* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    color: white;
    background-color: #000000;
}

html {
    scroll-behavior: smooth;
}

.footer {
    background-color: #000;
    color: white;
    padding: 40px 20px;
    text-align: center;
  }


/* NAVIGATION BAR */


nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000;
    padding: 10px 20px;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-center {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-center a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-center a:hover {
    color: #ff0000;
}

.logo {
    height: 35px;
    width: 70px;
}

.dropdown {
    position: relative;
}

.dropdown-links {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #0c0c0c;
    padding: 10px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.dropdown-links a {
    display: block;
    padding: 8px 0;
    color: white;
    text-decoration: none;
}

.dropdown-links a:hover {
    color: #ff0000;
}

.dropdown.open .dropdown-links {
    display: block;
    max-height: 300px;
}

.search-input {
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    font-family: "Kanit", sans-serif;
    margin-right: 10px;
}

.search-btn {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-btn img {
    height: 28px;
    width: 28px;
}

@media (max-width: 900px) {
    .nav-center {
        gap: 10px;
    }

    .search-input {
        width: 100px;
    }
}


/* HEADER SECTION */


.header {
    position: relative;
    width: 100%;
    height: 110vh;
    overflow: hidden;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 0.5%;
    transform: translateY(-50%);
    z-index: 2;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.button {
    padding: 1em 2em;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: 5px;
    cursor: pointer;
    color: #ff0000;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    margin: 5px;
}

.button:hover {
    color: #ffffff;
    transform: scale(1);
    box-shadow: 4px 5px 17px -4px #ff0000;
}

.button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #ff0000;
    transform: skewX(50deg);
    z-index: -1;
    transition: width 1000ms;
}

.button:hover::before {
    width: 250%;
}

.header-content p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.header::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000 100%);
    z-index: 2;
}

@media (max-width: 768px) {
    .header-content {
        max-width: 90%;
    }

    .header-content p {
        font-size: 1rem;
    }
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.bg {
    position: absolute;
    inset: 0;
    opacity: 0;
    animation: fade 24s infinite;
}

.bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.5);
}

.bg:nth-child(1) {
    animation-delay: 0s;
}

.bg:nth-child(2) {
    animation-delay: 4s;
}

.bg:nth-child(3) {
    animation-delay: 8s;
}

.bg:nth-child(4) {
    animation-delay: 12s;
}

.bg:nth-child(5) {
    animation-delay: 16s;
}

.bg:nth-child(6) {
    animation-delay: 20s;
}

@keyframes fade {

    0%,
    100% {
        opacity: 0;
    }

    5%,
    20% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }
}

::-webkit-scrollbar {
    display: none;
}


/* TRENDING TOP 10 */


#title,
h1 {
    margin-top: 20px;
    font-size: 2rem;
    color: white;
    margin-bottom: 30px;
    margin-left: 25px;
    border-left: 5px solid red;
    padding-left: 15px;
    font-weight: bold;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 0 25px;
    box-sizing: border-box;
}

.movie-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.1);
}

.movie-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.number {
    font-family: "Funnel Display", sans-serif;
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 70px;
    color: red;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.672);
}

@media (max-width: 500px) {
    .movie-grid {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .movie-card {
        max-width: 300px;
    }

    #title,
    h1 {
        font-size: 25px;
    }
}


/* MOVIE LIST PER GENRE */


#animated-row,
#horror-row,
#action-row,
#drama-row,
#romantic-row,
#scifi-row {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#animated,
#horror,
#action,
#drama,
#romantic,
#scifi {
    font-size: 2rem;
    color: white;
    border-left: 4px solid red;
    padding-left: 16px;
    font-weight: bold;
}

.genre-section {
    margin: 40px 0;
    padding: 0 25px;
}

.movie-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 18.5px;
    padding-bottom: 10px;
}

.movie-item {
    position: relative;
    width: 100%;
    aspect-ratio: 2/3;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.movie-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.movie-item:hover {
    transform: scale(1.05);
}

.movie-item:hover img {
    transform: scale(1.1);
    filter: brightness(0.6);
}

.movie-info {
    font-family: "Funnel Display", sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    color: white;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    font-size: 0.8rem;
    line-height: 1.3;
}

.movie-item:hover .movie-info {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 500px) {
    .movie-row {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .movie-item {
        width: 100%;
        max-width: 300px;
    }

    .movie-info {
        font-size: 25px;
    }
}
